[submodule "drivers/Signed_USB_Serial_Driver"]
	path = drivers/Signed_USB_Serial_Driver
	url = https://github.com/Seeed-Studio/Signed_USB_Serial_Driver.git
[submodule "libraries/Seeed_Arduino_LCD"]
	path = libraries/Seeed_Arduino_LCD
	url = https://github.com/Seeed-Studio/Seeed_Arduino_LCD.git
[submodule "libraries/Seeed_Arduino_FS"]
	path = libraries/Seeed_Arduino_FS
	url = https://github.com/Seeed-Studio/Seeed_Arduino_FS.git
